{% extends "base.html" %}

{% block title %}<title data-translate="recover_pass">Recuperar contraseña</title>{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/login-register-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login-style.css')}}">
{% endblock%}
{% block body %} 
    <body id="recover-page">
        <main>
            <aside class="left-side">
                <div class="form-header">
                    <h1 data-translate="gestion">Gestión de <span>Barrio Privado</span></h1>
                    <h2 class="iniciar-sesion-title" data-translate="forgot_pass">¿Olvidó su contraseña?</h2>
                    <p class="sub-parrafo" data-translate="sub_parrrafo_recuperar">Si no recuerda la contraseña para acceder, ingrese su dirección de correo electrónico y le enviaremos las instrucciones para poder modificarla.</p>
                </div>
                <form id="contact_form" class="contact">
                    <div class="form-group form-email">
                        <label class="form-label" for="email" data-translate="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="arielserranocerbellera@gmail.com" required> 
                    </div>
                    <button type="submit" id="send-btn" class="send-btn" data-translate="send_instructions">Enviar instrucciones</button>  
                </form>
            </aside>
            <div class="right-side">
                <img src="{{url_for('static',filename='imagenes/undraw_access-account_aydp 1.svg')}}" alt="">
            </div>
        </main>
        <div class="lang-container">
            <div class="lang">
                <button type="button" class="language" id="lang-toggle">
                    <i class='bx  bx-globe-alt'></i>
                    <span class="text-language">Español</span>
                    <i id="flecha-idioma" class='bx  bx-chevron-up'></i>
                </button >
            </div>
            <ul class="idiomas hidden">
                <li class="es" id="es"><a>Español</a></li>
                <li class="en" id="en"><a>English</a></li>
            </ul>
        </div>
        <script src="{{url_for('static',filename='js/login-register.js')}}"></script>
        <script src="{{url_for('static',filename='js/translate.js')}}"></script>
    </body>
{% endblock%}
</html>